<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>You are lost!</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100|Amatic+SC:700"/>
        <link rel="stylesheet" href="stylesheets/layout.css"/>
        <link rel="stylesheet" href="stylesheets/error.css"/>
    </head>
    <body>
        <div class="center">
            <div class="holder">
                <div class="status">
                    <%= error.status %>
                </div>
                <div class="message" style="font-size: .4em;">
                    WOW you are lost!
                </div>
            </div>
        </div>
    </body>
</html>