<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>DON</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100|Amatic+SC:700"/>
        <link rel="stylesheet" href="stylesheets/layout.css"/>
        <link rel="stylesheet" href="stylesheets/style.css"/>
    </head>
    <body>
        <div class="center">
            <div class="holder">
                <div class="title">DON</div>
                <div class="btns">
                    <a href="/login" id="login-btn" title="Login to your panel">Login</a>
                    <a href="/signup" id="signup-btn" title="Signup for some cool panel">Signup</a>
                </div>
            </div>
        </div>
    </body>
</html>