<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>DON - Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100|Amatic+SC:700"/>
        <link rel="stylesheet" href="stylesheets/layout.css"/>
        <link rel="stylesheet" href="stylesheets/login.css"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="center">
            <div class="holder">
                    <% if (message.length > 0) { %>
                        <div class="alertbox" id="alertbox"><%= message %></div>
                    <% } %>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Enter your Email" required>
                        </div>
                        <div class="form-group">
                            <label>Code</label>
                            <input type="password" size="8" minlength="6" maxlength="8" class="form-control" name="code" pattern="[0-9A-Za-z]{6,8}" placeholder="Enter 6 digits code" autocomplete="off" required>
                        </div>
                
                        <button type="submit" class="btn">Login</button>
                    </form>
                    <hr>
                    <div class="back-main">
                        <p style="font-size: .8em">Need an account? <a href="/signup" title="Signup for a new account!"> Signup</a></p>
                    </div>
            </div>
            <div class="alter">
                    <section>
                        <h1>What to do?</h1>
                        <h3>[Step #1]: Enter your email in the Email field</h3>
                        <h3>[Step #2]: Open the Google Authenticator app on your phone</h3>
                        <h3>[Step #3]: Enter the 6 digits code from your phone marked with "Don (your Email)" in the Code field or your Backup code</h3>
                        <h3>[Step #4]: Hit "Login"!</h3>
                    </section>
            </div>
            <div class="to-home">
               <a title="Go home" href="/">☐</a>
            </div>
        </div>
    </body>
</html>