<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Totp Verification</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100|Amatic+SC:700"/>
        <link rel="stylesheet" href="stylesheets/layout.css"/>
        <link rel="stylesheet" href="stylesheets/login.css"/>
        <link rel="stylesheet" href="stylesheets/totp.css"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="center">
            <div class="holder">
                    <form action="/totp-verify" method="post">
                        <div class="form-group">
                            <img src=<%= qr_url %>>
                        </div>
                        
                        <% if (message.length > 0) { %>
                            <div class="alertbox" id="alertbox"><%= message %></div>
                        <% } %>

                        <div class="form-group">
                            <label>Code</label>
                            <input type="password" inputmode="numeric" minlength="6" size="6" pattern="[0-9]{6,6}" class="form-control" name="code" autocomplete="off" required>
                        </div>
                
                        <button type="submit" class="btn" style="margin-top: 6%!important;">Verify</button>
                    </form>
                    <hr>
            </div>
            <div class="alter">
                    <section>
                        <h1>What to do?</h1>
                        <hr>
                        <h3>[Step #1]: Download Google Authenticator<br><a title="Download Google Authenticator from Google Play" target="blank" href="https://is.gd/8HT5Vw">Android</a> & <a title="Download Google Authenticator from iTunes" href="https://is.gd/qNMgJa" target="blank">iOS</a></h3>
                        <h3>[Step #2]: Open the app click on + on the bottom right choose "Scan a barcode"</h3>
                        <h3>[Step #3]: Scan the QRcode shown on the left you'll get a 6 digits Code</h3>
                        <h3>[Step #4]: Enter the Code on your phone marked with the tag "Don (your Email)" in the input field</h3>
                        <h3>[Step #5]: Hit "verify"</h3>
                    </section>
            </div>
            <div class="to-home">
               <a title="Go home" href="/">☐</a>
            </div>
        </div>
    </body>
</html>
